%button.button__results.save.btn.btn-outline-dark.rounded-pill.m-2.d-block{:title => "Save image diag results"}
  %a{"data-remote" => "true", :format => "js", :href => "#", :title => "Save image diag results", :class => "btn"}
    = t(".save_decision")
-# = link_to t('.save_decision'),
-# class: "button button__results save btn btn-outline-dark rounded-pill m-2 d-block",
-# :title => "Save image diag results",
-# :format => "js",
-# :href => "#",
-# remote: true