= link_to t('.select_theme_bt'), choose_theme_path,
class: "button btn btn-outline-dark rounded-pill m-2 d-block",
prompt: 'выберите тему',
:title => "Select theme from your device folder",
locale: @current_locale,
:format => "js",
remote: true